@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

* {
  font-family: 'Syne', sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  /* font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
}

.gap_filler {
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(240, 171, 110, 1), white);
  margin: 0;
  /* transform: translateY(-6.3px); */
}

.no_margin {
  margin: 0 !important;
  padding: 0 !important;
}

.overlay {
  background-color: transparent !important;
}

.head_model {
  height: fit-content;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.head_model::-webkit-scrollbar {
  display: none;
}
