/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*--------------------------------- PRODUCT GRID -----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap as needed */
  margin-bottom: 2rem;
}

.product-info {
  text-align: left;
}

.standard_product_image {
  width: 40vw !important;
  height: auto;
}

.collection-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(28vw, 1fr));
  margin-bottom: 2rem;
}

.resp_grid {
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.desktop-component {
  display: '';
}

.mobile-component {
  display: none;
}

.tab-desk-component {
  display: '';
}

.only-mobile-component {
  display: none;
}

.row_to_col {
  flex-direction: row;
}

/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*------------------------------------  HEADING ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
.head_model {
  position: absolute;
  position: fixed;
  left: 47%;
  top: 13%;
  width: 50vw;
  max-height: 80vh;
}

/* BANNER */

.banner_image {
  width: auto;
  height: 80vh;
}

/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*------------------------------------------ CART ----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
.empty_cart {
  height: 69vh;
}
